<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Stream Video</title>
  </head>
  <form id="link-form"action="/home>
	  <label for="link">Input Link:</label>
	  <input name="link" id="link-input">
	  <input id="submit-button"type="submit" value="submit">	
  </form>
  <div id="loading-screen" style="display:none">
    Starting your video...
    <button id="stop-button">Stop Video</button>
    </div>
  <script src="{{url_for('static', filename='js/script.js') }}"></script>
  <body>
  </body>
</html>
